h1,h2,h3 {
    text-align: center;
}

div {
    outline: 1px solid red;
}

div.hyph2 {
    text-align: justify;
}

div.hyph3 {
    max-width: 25em;
    text-align: justify;
    margin: 0 auto;
}

div.hyph4 {
    max-width: 25em;
    text-align: justify;
    margin: 0 auto;
    hyphens: auto;
}